@model IEnumerable<Empresa.Models.Lote>

@{
    ViewBag.Title = "View";
}

<h2>Lotes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cod_lote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cod_produto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.validade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cod_barra)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cod_lote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_produto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.validade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_barra)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
