@model IEnumerable<Empresa.Models.Produto>

@{
    ViewBag.Title = "Produtos";
}

<h2>Produtos</h2>

<p>
    @Html.ActionLink("Cadastrar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Código Interno do Produto
            @*@Html.DisplayNameFor(model => model.cod_produto)*@
        </th>
        <th>
            Produto
            @*@Html.DisplayNameFor(model => model.descricao)*@
        </th>
        <th>
            Situação
            @*@Html.DisplayNameFor(model => model.cod_situacao)*@
        </th>
        <th></th>
    </tr>

    @{
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cod_produto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descricao)
                </td>
                
                    @if (item.cod_situacao > 0)
                    {
                    <td>Ativo</td>
                    }
                    else
                    {
                    <td>Inativo</td>
                    }
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.cod_produto }) |
                    @Html.ActionLink("Detalhar", "Details", new { id = item.cod_produto }) |
                    @Html.ActionLink("Apagar", "Delete", new { id = item.cod_produto })
                </td>
            </tr>
        }
    }


</table>
